@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: 'Agrandir';
    font-weight: 100;
    font-style: italic;
    src: url('fonts/Agrandir Thin Italic 100.otf') format('opentype');
}

@font-face {
    font-family: 'Agrandir';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Agrandir Regular 400.otf') format('opentype');
}*/

@font-face {
    font-family: 'Agrandir';
    src: url('fonts/Agrandir Variable.ttf');
}

/*@font-face {
    font-family: 'Agrandir';
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url('fonts/Agrandir.ttf') format('truetype');
    font-named-instance: "Italic";
}*/

i, em {
    @apply italic;
}

